@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.stack-grid {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem;
    grid-gap: 1rem;
}

.fa-php--colored {
    color: #4f5b93;
}

.fa-laravel--colored {
    color: #ff2d20;
}

.fa-symfony--colored {
    color: #000;
}

.fa-js--colored {
    color: #f0db4f;
}

.fa-react--colored {
    color: #61dafb;
}

.fa-node--colored {
    color: #026e00;
}

.fa-docker--colored {
    color: #007bff;
}

.fa-wordpress--colored {
    color: #0073aa;
}
