@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.nav-link {
    position: relative;
}

.nav-link:after {
    @apply bg-blue-400;

    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) transform .2s;
}

.nav-link:hover:after {
    transform: scaleX(1);
}

.stack-grid {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem;
    grid-gap: 1rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
}

.project-image {
    transition: ease-in-out transform .2s;
}

.project-image:hover {
    transform: scale(1.05);
}

.fa-php--colored {
    color: #4f5b93;
}

.fa-laravel--colored {
    color: #ff2d20;
}

.fa-symfony--colored {
    color: #000;
}

.fa-js--colored {
    color: #f0db4f;
}

.fa-react--colored {
    color: #61dafb;
}

.fa-node--colored {
    color: #026e00;
}

.fa-docker--colored {
    color: #007bff;
}

.fa-wordpress--colored {
    color: #0073aa;
}

.loader {
    @apply absolute;

    top: 50%;
    left: 50%;
    margin-top: calc(-1.3rem/2);
    margin-left: calc(-1.5*(1.3rem + 0.5rem));

    display: grid;
    grid-gap: .5rem;
    grid-template-rows: 2.5rem;
    grid-template-columns: 1.3rem 1.3rem 1.3rem;
}

.loader .loader__bar {
    @apply bg-blue-400;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader .loader__bar:nth-child(1) {
    animation-delay: 0;
}

.loader .loader__bar:nth-child(2) {
    animation-delay: 0.24s;
}

.loader .loader__bar:nth-child(3) {
    animation-delay: 0.48s;
}

@keyframes loader {
    0% {
        transform: scaleY(1.5);
    }
    50%, 100% {
        transform: scaleY(1);
    }
}
